:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

main {
  margin-left: 25%;
  margin-right: 25%
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 2rem;
}

nav {
  text-align: center;
  width: auto;
  padding-right: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

svg {
  color: black;
  background-color: white;
  stroke: 1px black;
}

h1 {
  font-size: 5rem;
  margin: 1rem;
  margin-left: 0; 
}

.spacer {
  padding: 3rem;
}
.big {
  font-size: 5rem;
}

.medium {
  font-size: 3rem
}

.small {
  font-size: 2rem;
}

.smallest {
  font-size: 1rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

h2 {
  font-size: 3rem;
  display: inline-block;
}

h3 {
  font-size: 2rem
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  animation: fade-in 1.5s;
  animation-fill-mode: both;
}


.delay-1 {
  animation-delay: 0s
}

.delay-2 {
  animation-delay: 1s
}

.delay-3 {
  animation-delay: 2s
}

.delay-4 {
  animation-delay: 3s;
}

.inline-block {
  display: inline-block;

}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 500;
}

.accent {
  color: rgb(0, 127, 207)
}

/**
.gallery {
  display: flex;
  width: auto;
}

.gallery img {
  margin: 0.3rem;
  flex: 1;
  width: 100%;
  height: auto;
}**/

.inverted {
  animation: invert 1s forwards;
  filter: invert(100%);
}

.inverted img:not([src$=".svg"]) {
  filter: invert(100%);
  animation: invert 1s forwards;
}

.inverted .accent {
  filter: invert(100%);
  animation: invert 1s forwards;
}

.repo {
  width: calc(33% - 2rem);
  
  margin-bottom: 10px;
  
  padding-bottom: 1rem;
  padding-top: 1rem;

  border-radius: 2rem;
}

.repo-title {
  background: none;
  display: block;
  color:rgb(0, 0, 0);

  padding-bottom: 1rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.repo-description {
  font-size: 1rem;
  color: #434343;
  margin-top: 5px;
}

.content {
  width: 100%;
}

.icon-small {
  display: inline-block;
  width: 1.5rem;
}

#info {
  font-weight: 800;
  font-size: 2.5rem
}

#darkMode {
  width: 2rem;
}

#repo-container {
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fafafa
}


@keyframes invert {
  from {filter: invert(0%)}
  to {filter: invert(100%)}
}

@keyframes fade-in {
  from {opacity: 0; visibility: hidden;}
  to {opacity: 1;visibility: visible;}
}

@keyframes reverse-invert {
  from { filter: invert(100%); }
  to { filter: invert(0%); }
}