:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  height: 100%;
}

main {
  margin-left: 20%;
  margin-right: 20%;
  transition: ease all .3s;
}

body {
  min-width: 380px;
  background-color: rgb(255, 255, 255);
  color: black;
}

header {
    top: 0;
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    transition: ease all .3s;
}

img {
  height: 300px;
}

nav {
  text-align: center;
  width: auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: #b0b0b0;
}

a, a:hover {
  transition: ease all .3s;
}

svg {
  color: black;
  background-color: white;
  stroke: 1px black;
}

.spacer {
  padding: 2rem;
}


.big, .medium, .small, .smallest {
  transition: ease all .3s;
}

.big {
  font-size: 4rem;
}

.medium {
  font-size: 3rem;
}

.justify-text {
  text-align: justify;
}

.small {
  font-size: 2rem;
}

.smallest {
  font-size: 1.5rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  animation: fade-in 1.3s;
  animation-fill-mode: both;
}

.paragraph {
  line-height: 1.5;
  white-space: pre-line;
}


.delay-1 {
  animation-delay: 0.5s
}

.delay-2 {
  animation-delay: 1s
}

.delay-3 {
  animation-delay: 1.5s
}

.inline-block {
  display: inline-block;

}

.bold, .semibold, .thin {
  transition: ease all .3s;
}

.bold {
  font-weight: 650;
}

.semibold {
  font-weight: 500;
}

.thin {
  font-weight: 300;
}

.accent {
  color: #ff4a4a;
  transition: ease all .3s;
}

.invert {
  filter: invert(100%);
}

.repo {
  width: calc(33% - 2rem);
  
  margin-bottom: 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 2rem;
}

.repo-title {
  background: none;
  display: inline-block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10 0%;
  width: 100%
}

.repo-description {
  font-size: 1rem;
  color: #808080;
  margin-top: 0;
  padding-bottom: 0;
}

.spacer-width-dependent {
  padding: 2rem;
  transition: ease all .3s;
}

.shadow {
  box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.5);
}

.rounded {
  border-radius: 1rem;
}

.content {
  width: 100%;
}

.icon-small {
  width: 1.5rem;
  height: auto;
  padding-bottom: auto;
  padding-right: 0.5rem;
  transition: ease all .3s;
}

.navigation-text {
  padding-right: 4rem;
}

#info {
  font-weight: 800;
  font-size: 2.5rem
}

#darkMode {
  width: 2rem;
}

#repo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#last-nav {
  padding-right: 0;
}

#settings {
  position: absolute;
  top: 0
}

#name-title {
  margin-bottom: 1.5rem;
}



#under-development-info {
  position: fixed;
  top: auto;
  
  bottom: 1rem;
  left: 1rem;
  width: 12rem;
  z-index: 9999;
}

@keyframes fade-in {
  from {opacity: 0; visibility: hidden;}
  to {opacity: 1;visibility: visible;}
}

@media (max-width: 950px){
  main {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1100px) {
  .repo {
    width: calc(50% - 2rem);
  }
  .smallest {
    font-size: 1rem;
  }
  .small {
    font-size: 1.5rem;
  }
  .medium {
    font-size: 2.5rem;
  }
  .big {
    font-size: 3.5rem;
  }
  .icon-small {
    width: 1.2rem;
    padding-right: 0.3rem;
  }
  .navigation-text {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .navigation-text {
    padding-right: 2rem;
  }
}

@media (max-width: 650px) {
  .repo {
    width: 100%; /* Adjust for two columns */
  }
  .navigation-text {
    font-size: 1.75rem;
    padding-right: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .spacer-width-dependent {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .small {
    font-size: 1rem;
  }
  .medium {
    font-size: 2rem;
  }
  .big {
    font-size: 3rem;
  }
  .icon-small {
    width: 1rem;
    padding-right: 0.2rem;
  }
  .navigation-text {
    font-size: 1.5rem;
    padding-right: 0;
  }
}

@media (max-width: 410px) {
  .navigation-text {
    font-size: 1.3rem;
    padding-right: 0;
  }
}